<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title><%= posttitle %> </title>

</head>
<body>

    <%- include('partials/header') -%> 
    <h1><%= posttitle %> </h1>
    <p><%= postmess%> </p>
    
    




    
    <%- include('partials/footer') -%> 


    
</body>
</html>